.Favorites{
    border: 0.25rem solid burlywood;
    flex-direction: row;
    border-radius:  0.5rem;
    width: 90%;
    font-weight: 600;
    margin: .5rem;
    padding: 1 rem;
    display: flex;
    flex-wrap: wrap;
    justify-content:  center;
    background-color: royalblue;
    
}


.Card{
    border: 0.18rem solid blue;
    border-radius:  0.5rem;
    font-weight: 600;
    margin: 0.5rem;
    padding: 51 rem;
    display: flex;
    flex-direction: column;
    align-items: wrap;
    background-color: bisque;
    
}
.Sel{
    justify-content: center;
    margin-top:auto;
    margin-bottom: 10px;

}