.body{
    align-content: fl;
    align-self: flex-end;
    color: wheat;
    text-decoration-color: blanchedalmond;
    width: 100%;
     padding: 40 px; /* Espaciado interno para separar el contenido del borde */
     border: 0px solid #ccc; /* Borde del cuadro de texto */
     border-radius: 5px;

}
.container{
    align-content: center;
    margin-left: 20% ;
    margin-right: 20%;
    margin-bottom: 500px;
    margin-top: 30px;
    align-self: center;
    text-align: center;
    text-decoration-color: blanchedalmond;
    padding: 40 px; /* Espaciado interno para separar el contenido del borde */
    border: 3px solid #ccc; /* Borde del cuadro de texto */
    border-radius: 5px; /* Bordes redondeados para suavizar la apariencia */
}